---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Work from "../components/Work.astro";
import Stack from "../components/Stack.astro";
import OpenSource from "../components/OpenSource.astro";
import Awards from "../components/Awards.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---
<Base>
  <Nav />
  <main id="top">
    <Hero />
    <About />
    <Work />
    <Stack />
    <OpenSource />
    <Awards />
    <Contact />
  </main>
  <Footer />
  <script>
    import { initUI } from "../scripts/ui.ts";
    initUI();
  </script>
</Base>
